:root {
	--active-color: #f97316;
	--active-bg-color: rgba(238, 238, 238, 0.5);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
	color: var(--active-color);
	background-color: var(--active-bg-color);
}

/* .wrapper {
	margin: 15% auto;
	max-width: 720px;
	text-align: center;
}

.wrapper h1 {
	font-weight: 500;
} */
